/**
 * @file PWA 等のデフォルトの css ファイルです。
 * 
 * @author MOTOMATSU Yoji
 * @version 1.6.1
 */

:root {
    /* テーマの配色 */
    --main-color: 'rgba( 10,  81, 161, 1.0)'; /* #0a51a1; // 211° 93% 63% */
    --base-color: 'rgba(145, 153, 163, 1.0)'; /* #9199a3; // 213° 11% 63% */
    --accent-color: 'rgba( 10, 161, 161, 1.0)'; /* #0aa1a1; // 180° 93% 63% */
    --transparent-main-color: 'rgba( 0,  74, 157, 0.96)';
    --transparent-base-color: 'rgba(72,  85, 102, 0.6)';
    --transparent-accent-color: 'rgba( 0, 157, 157, 0.96)';
    --dark-border-color: 'rgba(0, 0, 0, 0.6)'; /* #666666; // 0° 0% 40% */
    --light-border-color: 'rgba(0, 0, 0, 0.2)'; /* #cccccc; // 0° 0% 80% */
    /* デフォルトの配色 */
    --default-font-color: black;
    --default-background-color: white;
    --default-box-shadow: 0.2rem 0.2rem 0.2rem 0 var(--dark-border-color);
    /* デフォルトの変化時間 */
    --default-transition-duration: '1.0s';
    --default-transition-delay: '1.0s';
    /* デフォルトのフォントサイズとスペーシング */
    --default-font-size: 1.8rem;
    --default-headline-font-size: 2.2rem;
    --default-horizontal-spacing: 0.8rem;
    --default-vertical-spacing: 0.4rem;
    --default-border-radious: 0.4rem;
    --default-button-height: calc(2*var(--default-font-size));
    --default-header-height: calc(var(--default-button-height) + 2*var(--default-vertical-spacing));
    /* Hamburger Button の z-index の設定 */
    --hamburger-button-z-index: 200;
    --hamburger-button-z-index-shadow: 210;
    /* Scroll To Button の z-index の設定 */
    --scroll-to-button-z-index: 200;
    --scroll-to-button-z-index-shadow: 210;
    /* Close Nav Button の z-index の設定 */
    --close-nav-button-z-index: 300;
    /* その他の共通設定 */
    --default-pc-screen-min-width: 76.8rem; /* iPad のスクリーンを基準 */
}

* {
    -webkit-touch-callout: none; /* iOS でリンクを長押しした際のポップアップメニューを抑止 */
    -webkit-user-select: none; /* 文章の範囲選択を抑止 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* リンクをタップした際の強調を抑止 */
    margin: 0;
    padding: 0;
}

html {
    touch-action: manipulation; /* iOS のダブルタップのズームを抑止 */
    font-size: 62.5%; /* 1.0rem = 10px */
}

body {
    -webkit-text-size-adjust: 100%; /* iOS で端末の向きを変えた際のテキストサイズの変化を抑止 */
    font-size: var(--default-font-size);
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: var(--default-font-color);
    background-color: var(--default-background-color);
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    font-size: var(--default-headline-font-size);
}

button {
    -webkit-user-select: auto;
    outline: 0;
    display: inline-block;
    height: var(--default-button-height);
    width: calc(7*var(--default-font-size));
    margin: var(--default-font-size) var(--default-horizontal-spacing);
    color: var(--default-background-color);
    background-color: var(--main-color);
    cursor: pointer;
    border: none;
    border-radius: var(--default-border-radious);
    box-shadow: var(--defalut-box-shadow);
    transition: background-color var(--default-transition-duration), box-shadow var(--default-transition-duration);
}

    button:active {
        background-color: var(--accent-color);
        box-shadow: var(--default-box-shadow) inset;
        transition: background-color 0s, box-shadow 0s;
    }

    button span {
        -webkit-user-select: none;
    }

input {
    -webkit-user-select: auto;
    -webkit-appearance: none;
    outline: 0;
    display: inline-block;
    height: calc(1.6*var(--default-font-size));
    border: solid 1px var(--dark-border-color);
    border-radius: var(--default-border-radious);
    box-shadow: 0.2rem 0.2rem 0.2rem 0 var(--light-border-color) inset;
}

    input:read-only {
        box-shadow: none;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

/* ------------------------------------ */
/*
@keyframes page-fade-in {
    0% { opacity: 0 }
  100% { opacity: 1 }
}

@new-category-add-vertical-spacing: 0.6rem;
@label-input-horizontal-spacing:    0.6rem;

// その他
@nav-width: 16.0rem;
@content-page-min-width: @pc-screen-min-width - @nav-width;
*/
